{% extends 'pdashboard/nav.html' %} 
{% block mainbody %}
{% load static %}
<link href="{% static 'img-assets/apple-touch-icon.png' %}" rel="apple-touch-icon">
<link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' %}"
  rel="stylesheet">
<link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<style>
  body{
    background: url('/ProjectCommunity/static/img-assets/about.jpg');
  }
</style>
{% if uploadsuccess %}
<!-- <div class="alert alert-primary alert-dismissible fade show" role="alert">
  <strong>Message!</strong> {{ uploadsuccess }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<script>alert("Project Uploaded Succesfully!! ");</script>
{% endif %} <br><br>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{% static 'img-assets/about.jpg' %}" width="100%" height="100%">
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="container">
            <form method="POST" action="{% url 'upload' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <!-- <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" id="name" name="name" required>
                </div>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                  </div> -->
              <div class="form-group">
                <label for="college" class="form-label">College:</label>
                <select id="college" name="college" class="form-control">
                  {% for i in colleges %}
                  <option>{{i.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="branch" class="form-label">Branch:</label>
                <select id="branch" name="branch" class="form-control">
                  {% for j in course %}
                  <option>{{j.name}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="projectname" class="form-label">Project Name:</label>
                <input type="text" id="projectname" name="projectname" class="form-control" required>
              </div>
              <!-- <div class="form-group">
                    <label for="tags">Tags:</label>
                    <select id="tags" name="tags[]" multiple>
                      <option value="tag1">Tag 1</option>
                      <option value="tag2">Tag 2</option>
                      <option value="tag3">Tag 3</option>
                    </select>
                  </div> -->
              <div class="form-group">
                <label for="tags" class="form-label">Tags:</label>
                <div class="tag-selector">
                  <input type="text" class="tag-input form-control" placeholder="Enter tags..." id="tags" multiple>
                  <div class="tag-list" name="abc"></div>
                  <input type="text" name="tags[]" id="mytags" hidden>
      
                </div>
      
      
      
                <script>
                  const tagSelector = document.querySelector('.tag-selector');
                  const tagInput = tagSelector.querySelector('.tag-input');
                  const tagList = tagSelector.querySelector('.tag-list');
                  const listvalue = document.getElementById('#listvalue');
                  const tags = [];

                  function renderTags() {
                    tagList.innerHTML = '';
                    let temp = ""
                    tags.forEach(tag => {
                      const tagElement = document.createElement('div');
                      tagElement.classList.add('tag');
                      tagElement.innerHTML = `<span>${tag}</span><span class="remove" data-tag="${tag}">x</span>`;
                      tagList.appendChild(tagElement);

                      //console.log("checking ",tag,mytag.value)
                      // temp= ","+tag;

                    });

                  }

                  function addTag(tag) {
                    if (tags.includes(tag)) {
                      return;
                    }
                    tags.push(tag);
                    renderTags();

                  }

                  function removeTag(tag) {
                    const index = tags.indexOf(tag);
                    if (index >= 0) {
                      tags.splice(index, 1);
                      renderTags();
                    }

                  }

                  tagInput.addEventListener('keydown', event => {
                    if (event.key === 'Enter' || event.key === ',') {
                      event.preventDefault();
                      const tag = tagInput.value.trim();
                      if (tag) {
                        addTag(tag);
                        tagInput.value = '';

                      }
                    }
                  });

                  tagList.addEventListener('click', event => {
                    if (event.target.classList.contains('remove')) {
                      const tag = event.target.dataset.tag;
                      removeTag(tag);
                    }
                  });

                  var flag = 1;
                  function handleValueChange() {
                    if (flag) {
                      console.log(tags);
                      let mytag = document.getElementById('mytags');
                      tags.forEach(element => {
                        mytag.value += element + ",";
                      });
                    }
                    flag = 0;
                  }

                </script>
      
              </div>
              <div class="form-group">
                <label for="description" class="form-label">Description:</label>
                <textarea id="description" class="form-control" oninput="handleValueChange()" name="description" rows="4"
                  required></textarea>
              </div>
              <div class="form-group">
                <label for="zipfile" class="form-label">Upload Zip File:</label>
                <input type="file" id="zipfile" name="zipfile" accept=".zip" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="screenshot" class="form-label">Upload Output Screenshot:</label>
                <input type="file" id="screenshot" class="form-control" name="screenshot" accept="image/*" required>
              </div><br>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
      
          </div>
        </div>
      </div>
    </div>
  </div>
</div><br><br>

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>ProjectCommunity</h3>
            <strong>Phone:</strong> +91 9876541230<br>
            <strong>Email:</strong> projectCommunity@gmail.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <p style="text-align: justify;">Engaging in community service provides students with the opportunity to become
            active
            members of their community and has a lasting, positive impact on society at large.
            Community service or volunteerism enables students to acquire life skills and knowledge,
            as well as provide a service to those who need it most.</p>

          <div class="copyright">
            &copy; Copyright <strong><span>Day</span></strong>. All Rights Reserved
          </div>
          <div class="credits">Designed by <a href="https://bootstrapmade.com/">WE3</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}